* {
    font-family: "Inter", serif;
}

.page-wrapper {
    margin: 15px auto;
    width: 728px;
    height: 1024px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 80px 120px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.rgb-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: 14px;
    font-weight: 400;
}

.rgb-block input {
    width: 40px;
    height: 20px;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
    font-size: 14px;
    outline: none;
}

.rgb-block .error-input {
    color: rgb(224, 53, 53);
    box-shadow: 0px 0px 2px 0px rgb(255, 0, 0);
}

.convert-btn {
    width: 54px;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    background: rgb(203, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.convert-btn:hover {
    background: rgb(228, 151, 151);
}

.convert-btn:active {
    transform: scale(0.95);
}

.error-mess {
    position: relative;
    left: 245px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
}

.act {
    color: rgb(255, 0, 0);
}

.hex-block {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 22px;
}

.hex-data {
    width: 75px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(79, 78, 78);
    font-size: 14px;
    padding-top: 2px;
}

.visual-block {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.color-block {
    width: 75px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(79, 78, 78);
}